<html>
  <head>
    <title>{{ title }}</title>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="node_modules/dist/css/bootstrap.css">
    <link rel="stylesheet" href="assets/css/main.css">
    <script src="node_modules/jquery/dist/jquery.js"></script>
  </head>
  <body>
    <h1>{{ title | default('ops, this page is') }} developed by {{ group | default('who?') }}</h1>
    <script src="node_modules/dist/js/bootstrap.js"></script>
  </body>
</html>